{% extends "base.html" %}


{% block content %}
<main>
    <div>
        {% for project in list_projects %}
        <h1>{{ project.name }}</h1>
        <p>{{ project.description }}</p>
        {% endfor %}
        <h2>Tasks</h2>
        {% if project.has_tasks %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due Date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.assignee }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.is_completed|yesno:"yes,no" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>This project has no tasks</p>
        {% endif %}
    </div>

</main>
{% endblock content %}
